
    body {
        font-family: Arial, sans-serif;
        background-color: #e6f0ff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 350px;
    }

    .login-container h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #003366;
    }
    .login-container p {
        text-align: center;
        margin-bottom: 25px;
        color: #003366;
    }

    .login-container input {
        width: 85%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #b3c6ff;
        border-radius: 6px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);

        font-size: 16px;
    }

    .login-container input:focus {
        border-color: #0044cc;
        outline: none;
        
    }

    .login-container button {
        width: 50%;
        padding: 12px;
        background-color: #0044cc;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 20%;
        transition: background-color 0.3s ease;
    }

    .login-container button:hover {
        background-color: #0033aa;

    }
    .login-container input::placeholder {
        color: #888;
    }
    

    .error {
        color: #ff4d4d;
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container a {
        text-align: center;
        display: block;
        color: #0044cc;
        text-decoration: none;
        font-size: 14px;
        margin-top: 10px;
    }

    .login-container a:hover {
        text-decoration: underline;
    }
  
    @media (max-width: 400px) {
        .login-container {
            width: 90%;
            padding: 20px;
        }
    
        .login-container button {
            width: 100%;
            margin-left: 0;
        }
    }

    .login-container select {
        width: 90%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #b3c6ff;
        border-radius: 6px;
        font-size: 16px;
        background-color: #fff;
        color: #333;
        appearance: none;
    }
    .message {
        color: green;
        background-color: #e6ffe6;
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
    }

    
